.text {
  width: 1140px;
  h4 {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  p {
    font-size: 14px;
    font-weight: 400;
    color: black;
  }
}

//1200 991 767 562 320

@media only screen and (max-width: 1200px){
  .about{
    width: 960px;
  }
  .text {
    width: 960px;   
  }
}
@media only screen and (max-width: 991px){
  .about{
    width: 660px;
  }
  .text {
    width: 660px;
   
  }
}

@media only screen and (max-width: 760px){
  .about{
    width: 560px;
  }
  .text {
    width: 560px;   
  }
}


@media only screen and (max-width: 560px){ 
  .about{
    width: 360px;
  }
  .text {
    width: 460px;   
  }
}

// @media only screen and (max-width: 320px){ 
//   .about{
//     width: 320px;
//   }
//   .text {
//     width: 260px;   
//   }
// }