.param{
    font-weight: 400;
    width: 132px;
    margin-right: 100px;
}
.card{
    margin-left: 10px;
}

.emp{
    margin-bottom: 80px;
    margin-top: 30px;
    object-fit: contain;
}


@media only screen and (max-width: 960px){
    .details{
        display: flex;
        flex-direction: column;
    }
    .img{
        display: flex;
        flex-direction: column;
        width: 500px;
    }
}