.box {
  width: 263px;
  margin-bottom: 24px;
  img {
    margin-top: 20px;
  }
}
p {
  color: #8e8c95;
  font-size: 16px;
  font-weight: 700;
}
.icon {
  color: #b3b1b7;
}
input {
  outline: none;
  border: 1px solid #e8e7e8;
  padding: 10px;
  width: 263px;
  &::placeholder {
    color: #b3b1b7;
  }
}
.filter-box {
  display: flex;
  flex-direction: column;
  .chek {
    display: flex;
    align-items: center;
    margin-top: 16px;

    input[type="checkbox"] {
      width: 16px;
      height: 16px;
      margin-right: 10px;
    }
  }
}

@media only screen and (max-width: 960px){

  .box{
    display: none;
  }

}